<%= simple_form_for @space do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :description %>
  <%= f.input :size %>
  <%= f.input :price_by_day %>
  <%= f.input :nails %>
  <%= f.input :drill %>
  <%= f.input :plugs %>
  <%= f.input :windows %>
  <%= f.input :wc %>
  <%= f.input :photo, as: :attachinary %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
<br><br>
<p><%= link_to "Go back to spaces", spaces_path %></p>
