<h1>Show d'un space</h1>
<h2><%= @space.name %></h2>
<p><%= @space.address %></p>
<p><%= @space.size %> m2</p>
<p><%= @space.price_by_day %> €/jour</p>
<p>nails: <%= @space.nails %> </p>
<p>drill: <%= @space.drill %></p>
<p><%= @space.plugs %> plugs</p>
<p><%= @space.windows %>windows</p>
<p><%= @space.wc %> wc</p>
<% if @space.photo? %>
  <%= cl_image_tag @space.photo.path, width: 200, height: 300, crop: :fill %>
<% end %>
<%= link_to "Back to spaces", spaces_path %>

