<div class="jumbotron" style="background-image: url('<%= cl_image_path(@space.photo.path) %>');">
  <div class="container">
    <div class="content">
      <h1 style="color: white;text-shadow: 4px 4px black; margin: 500px 0 0 600px;"><%= @space.name %></h1>
    </div>
  </div>
</div>

<h1>Show d'un space</h1>
<h2><%= @space.name %></h2>
<p><%= @space.address %></p>
<p><%= @space.size %> m2</p>
<p><%= @space.price_by_day %> €/jour</p>
<p>nails: <%= @space.nails %> </p>
<p>drill: <%= @space.drill %></p>
<p><%= @space.plugs %> plugs</p>
<p><%= @space.windows %>windows</p>
<p><%= @space.wc %> wc</p>
<%= link_to "Book", new_space_booking_path(@space), class: "btn btn-primary" %>
<p><%= link_to "Back to spaces", spaces_path %></p>
