<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 ">
      <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/201x200"%>
      <%= image_tag avatar_url, class: "avatar-super-large", id: "navbar-wagon-menu" %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      <h3>Your email: <%= @user.email %></h3>
    </div>
  </div>
  <hr>
</div>

<div class="container">
<h2>Your bookings:</h2>

<div class="container">
  <% @bookings.each do |booking| %>
<div class="product">
  <div class='product-upvote'>
    <div class='product-count'><li><%= booking.space.name %></li></div>
  </div>
  <img src="kudoz.jpg" alt="kudoz" class="product-image hidden-xs">
  <div class='product-body'>
    <h4>Period: <%= booking.start_day.strftime("%A %d %B") %> - <%= booking.end_day.strftime("%A %d %B") %></h4>
    <br>
    <p><strong>Length of stay: <%= booking.duration %> days</strong></p>
    <br>
    <p><strong>Price: <%= booking.price %></strong></p>
  </div>
</div>
<% end %>
<hr>
</div>


