<div class="banner">
  <div class="banner-content text-center">
  <%= image_tag "logo.png", class: "logo" %>
    <h1>Find venues to curate your events!</h1>
    <div class="searchBarWrapper"><!-- react-empty: 138 -->
      <%= simple_form_for :space, url: spaces_path, method: :get, html: { class:"flexbox" } do |f|%>
        <div class="searchContainer">
          <div class="locationContainer" style="width:100%;">
            <div class="containerLocationLabel">Where </div>
              <div class="containerLocationSubtitle" id="homeform">
                  <%= f.input :address, class:'locationInput', placeholder: 'Location', label: false %>
              </div>
              <div class="Underline">
            </div>
          </div>
        </div>
        <div class="searchDateContainer">
          <div class="dateContainer" style="width:100%;">
            <div class="containerDateLabel">When</div>
              <div class="container_datepicker">
                <input type="date" placeholder="Dates" class="dateInput">
              </div>
            <div class="Underline"></div>
          </div>
        </div>
        <div class="searchButtonContainer">
          <div class="buttonContainer" style="width:100%;">
              <%= f.submit "Search", class: 'btn btn-sm' %>
           <!--  </button> -->
            <div class="Underline"></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<h2 class="text-center" id="phrase">How does it work ?</h2>

<div class="container text-center padded features">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= image_tag "search.png", class: "icons" %>
      <p>Find the best spot according to your needs.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= image_tag "contact.png", class: "icons" %>
      <p>Contact the owner and book the place for as long as you need.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= image_tag "frame.png", class: "icons" %>
      <p>Enjoy your professional exhibition!</p>
    </div>
  </div>
</div>

<!-- ________________CARD CAROUSEL SLICK________________ -->
<div id="carousel-container">
  <div id="title-carousel">Our latest venues</div>
  <div id="carousel-content">
    <div class="autoplay" id="card-slider">
      <div class="card margin-left" style="height: 300px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('1.jpg') %>')"></div>
      <div class="card margin-left" style="height: 300px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('2.jpg') %>')"></div>
      <div class="card margin-left" style="height: 300px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('3.jpg') %>')"></div>
      <div class="card margin-left" style="height: 300px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('1.jpg') %>')"></div>
      <div class="card margin-left" style="height: 300px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('2.jpg') %>')"></div>
      <div class="card margin-left" style="height: 300px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('3.jpg') %>')"></div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    $('.autoplay').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 3000,
      nextArrow: '<i class="fa fa-angle-right fa-2x next"></i>',
      prevArrow: '<i class="fa fa-angle-left fa-2x prev"></i>',
    });
  </script>
<% end %>

<br>

